<footer class="bg-black text-danger py-4 mt-5 border-top border-danger">
  <div class="container text-center">
    <div>
      <a href="#" class="text-danger me-3">Contact</a>
      <a href="#" class="text-danger me-3">Privacy Policy</a>
      <a href="#" class="text-danger me-3">Terms</a>
      <a href="#" class="text-danger me-3">Facebook</a>
      <a href="#" class="text-danger me-3">Twitter</a>
      <a href="#" class="text-danger">Instagram</a>
    </div>
    <div class="small mt-1">&copy; 2024 MultiTools. All rights reserved.</div>
  </div>
</footer> 